{% extends 'base.html' %} 
{% block title %} Home {% endblock title %}
{% block body %} 

<div class="container mt-3">
  <div class="modes">Create To-Do</div>
  <form action="/" method="POST">
    <div class="mt-3">
      <label id="todotitle" for="title" class="modes">To-Do Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">Content is optional..</div>
    </div>
    <div class="mb-3">
      <div class="modes">Content</div>
      <input type="text" class="form-control" name="content" id="content" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="container mt-4">
  <h2 id="head2">To-Do's</h2>
  <table class="table">
    <thead>
      <tr class="modes">
        <th scope="col">Task No.</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in allTodo %}
      <tr class="modes" >
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.cont}}</td>
        <td>{{todo.date_created}}</td>
        <td>
          <a
            href="/delete/{{todo.sno}}"
            type="button"
            class="btn btn-danger mx-2 btn-sm my-2"
            >Delete</a
          >
          <a
            href="/update/{{todo.sno}}"
            type="button"
            class="btn btn-success mx-2 btn-sm my-2"
            >Update</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}
